body {
  padding: 0;
  margin: 0;  
  direction: rtl;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: 'Open Sans Hebrew';
  direction: rtl;
  text-align: right;
}
a {
  text-decoration: none;
}
input,
button {
  &:focus {
      outline: none;
  }
  &:active {
      outline: none;
  }
}
header {
  padding-top: 20px;
  max-width: 1720px;
  margin: 0 auto;
  border-bottom: 9px solid #267dbf;
  h3 {
    color: #9a9897;
    font-size: 48px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 800;
  }
}
.title_block {
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
  // border-bottom: 2px solid #c2c2c2;
  &:before {
    width: 6000px;
    height: 2px;
    background: #c2c2c2;
    position: absolute;
    bottom: -2px;
    right: 0;
    content: "";
    display: block;
  }
  .pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    li {
      display: inline-block;
      font-size: 14px;
      color: #000000;
      margin-top: 13px;
      margin-bottom: 13px;
      a {
        color: #000000;
        font-weight: bold;
      }
    }
  }
  .title_block_logo {
    display: flex;
    align-items: center;
    h3 {
      font-size: 30px;
      margin: 0;
      padding: 0;
      color: #267dbf;
      margin-right: 13px;
      font-weight: bold;
    }
  }
  h1 {
    font-size: 48px;
    color: #000000;
    line-height: 60px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    span {
      font-weight: normal;
    }
  }
}
main {
  max-width: 1520px;
  margin: 0 auto;
}
.top_form {
  position: relative;
}
.top_form_wrapper {
  padding-top: 55px;
  .doctor_img_frame {
    border: 1px solid #e37f83;
    overflow: hidden;
    max-width: 176px;
    height: 175px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    .doctor_img {
      min-width: 100%;
      height: 100%;
    }
  }
  h4 {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .text_inputs {
    color: #5a5a5a;
    font-size: 20px;
    font-style: italic;
    border: 0;
    border-bottom: 2px solid #c5c5c5;
    padding: 10px 15px;
    width: 95%;
    margin: 12px;
    margin-right: 0;
    margin-left: 25px;
    box-sizing: border-box;
    &.m_0 {
      margin-left: 0;
      width: 100%;
    }
    &.textarea {
      border: 2px solid #c5c5c5;
      resize: vertical;
      width: 100%;
      margin: 0;
      margin-top: 13px;
    }
  }
  .form_col {
    width: 33.33%;
    float: right;
  }
  .top_form {
    max-width: 1100px;
    margin: 0 auto;
  }
  .submit_button {
    position: absolute;
    left: -120px;
    bottom: 5px;
    background: #267dbf;
    border: 0;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    transition: 0.2s;
    &:hover {
      opacity: 0.9;
    }
  }
}
.main_info {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    min-height: 250px;
    padding-top: 30px;
    border-bottom: 1px solid #e37f83;
    &:last-child {
      border: 0;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .col {
    width: 50%;
    float: right;
    display: block;
    position: relative;
    &.large_col {
      width: 100%;
    }
    .vertical_line {
      width: 1px;
      height: 210px;
      background: #b8b8b8;
      position: absolute;
      right: -30px;
      top: -10px;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 100%;
        background: #fff;
        left: 1px;
        top: 0;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 100%;
        background: #fff;
        right: 1px;
        top: 0;
      }
    }
    .col_header {
      min-height: 50px;
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 2px dashed #eeeeee;
      margin-bottom: 10px;
      img {
        float: right;
      }
      span {
        font-size: 24px;
        color: #9a9897;
        font-weight: bold;
        margin-right: 10px;
      }
    }
    p {
      font-size: 20px;
      color: #000000;
      line-height: 30px;
      margin: 0;
      padding: 0;
      margin-right: 35px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      &.mr_35 {
        margin-right: 35px;
      }
      li {
        font-size: 20px;
        color: #000000;
        line-height: 30px;
      }
    }
    a {
      color: #267dbf;
      border-bottom: 1px solid #267dbf;
    }
  }
  .inner_text_col {
    width: 50%;
    float: right;
    &.titles_col {
      width: 25%;
    }
    &.w_20 {
      width: 20%;
    }
    &.w_25 {
      width: 25%;
    }
    &.w_30 {
      width: 30%;
    }
    &.w_35 {
      width: 35%;
    }
    &.w_100 {
      width: 100%;
    }
  }
  .large_col_cols {
    width: 33.33%;
    float: right;
    &.w_25 {
      width: 25%;
    }
    &.w_50 {
      width: 40%;
    }
  }
  .mr_35 {
    margin-right: 35px;
  }
}
footer {
  background: #5a5a5a;
  .footer_top_block {
    width: 1100px;
    margin: 0 auto;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .col {
      width: 33.33%;
      padding-top: 15px;
      float: right;
      .item_header {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        line-height: 22px;
        margin-right: -35px;
        img {
          margin-left: 8px;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-right: 12px;
        li {
          position: relative;
          line-height: 22px;
          font-weight: normal;
          font-size: 14px;
          color: #fff;
          &:after {
            position: absolute;
            display: block;
            content: "";
            width: 6px;
            height: 6px;
            background: #bcbcbc;
            border-radius: 50%;
            right: -12px;
            top: 8px;
          }
        }
      }
    }
  }
}
.footer_middle_block {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  span {
    color: #b9b9b9;
    font-size: 14px;
    margin-top: -10px;
  }
  .block_items {
    display: inline-block;
    display: flex;
    align-items: center;
    .social_icons {
      float: right;
      margin-right: 10px;
      .social_icon {
        margin: 0 10px;
      }
    }
    .left_items {
      float: right;
      padding-bottom: 5px;
      .item {
        margin: 0 10px;
      }
    }
  }
  .with_circle {
    position: relative;
    margin-left: 40px;
    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 6px;
      height: 6px;
      background: #bcbcbc;
      border-radius: 50%;
      left: -23px;
      top: 8px;
    }
  }
}
.footer_bottom_block {
  max-width: 1720px;
  margin: 0 auto;
  border-top: 3px solid #bcbcbc;
  padding-bottom: 20px;   
  p {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.top_line {
  img {
    width: 100%;
  }
}
@media all and (max-width: 1400px) {
  .top_form_wrapper .form_col {
    width: 32.45%;
  }
  .top_form_wrapper .doctor_img_frame {
    max-width: 113px;
    height: 115px;
  }
  .title_block,
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
